.mainContainer {
  height: 255px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  @mixin arrow {
    position: absolute;
    top: 116px;
    width: 24px;
    height: 24px;
  }
  .arrowForward {
    @include arrow;
    right: 0px;
  }

  .arrowBackward {
    @include arrow;
    left: 0px;
    transform: rotate(180deg);
  }
}
